﻿USE [master]
GO
/****** Object:  Database [furniture_system]    Script Date: 23/03/2026 5:45:50 CH ******/
CREATE DATABASE [furniture_system]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'furniture_system', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\furniture_system.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'furniture_system_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\furniture_system_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [furniture_system].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [furniture_system]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 23/03/2026 5:45:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](10) NOT NULL,
	[Status] [nvarchar](10) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[LastLoginAt] [datetime2](7) NULL,
	[FailedAttempts] [int] NOT NULL,
	[ResetToken] [nvarchar](64) NULL,
	[ResetTokenExpiry] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Billing]    Script Date: 23/03/2026 5:45:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Billing](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[IssueDate] [datetime2](7) NOT NULL,
	[PaymentMethod] [nvarchar](15) NOT NULL,
	[PaidAmount] [decimal](15, 2) NOT NULL,
	[BillingStatus] [nvarchar](10) NOT NULL,
	[Note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 23/03/2026 5:45:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Gender] [nvarchar](10) NULL,
	[Status] [nvarchar](10) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryAddress]    Script Date: 23/03/2026 5:45:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryAddress](
	[AddressId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ReceiverName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[AddressLine] [nvarchar](255) NOT NULL,
	[Ward] [nvarchar](100) NOT NULL,
	[District] [nvarchar](100) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[Status] [nvarchar](10) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 23/03/2026 5:45:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[DOB] [date] NULL,
	[Position] [nvarchar](15) NOT NULL,
	[Status] [nvarchar](10) NOT NULL,
	[AccountId] [int] NOT NULL,
	[HiredAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FurnitureType]    Script Date: 23/03/2026 5:45:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FurnitureType](
	[TypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](10) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 23/03/2026 5:45:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[AddressId] [int] NOT NULL,
	[PromoId] [int] NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](15) NOT NULL,
	[SubTotal] [decimal](15, 2) NOT NULL,
	[Discount] [decimal](15, 2) NOT NULL,
	[FinalTotal] [decimal](15, 2) NOT NULL,
	[Note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderLine]    Script Date: 23/03/2026 5:45:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderLine](
	[LineId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](15, 2) NOT NULL,
	[LineTotal]  AS (CONVERT([decimal](15,2),[Quantity])*[UnitPrice]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[LineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_order_product] UNIQUE NONCLUSTERED 
(
	[OrderId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 23/03/2026 5:45:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[TypeId] [int] NOT NULL,
	[SupplierId] [int] NOT NULL,
	[Price] [decimal](15, 2) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[WarrantyMonths] [int] NOT NULL,
	[Status] [nvarchar](15) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 23/03/2026 5:45:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[PromoId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[DiscountType] [nvarchar](10) NOT NULL,
	[DiscountValue] [decimal](15, 2) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[MinOrderValue] [decimal](15, 2) NOT NULL,
	[UsageLimit] [int] NULL,
	[UsedCount] [int] NOT NULL,
	[Status] [nvarchar](10) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PromoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salary]    Script Date: 23/03/2026 5:45:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salary](
	[SalaryId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[SalaryMonth] [date] NOT NULL,
	[BaseSalary] [decimal](15, 2) NOT NULL,
	[Allowance] [decimal](15, 2) NOT NULL,
	[Bonus] [decimal](15, 2) NOT NULL,
	[Deduction] [decimal](15, 2) NOT NULL,
	[FinalSalary]  AS ((([BaseSalary]+[Allowance])+[Bonus])-[Deduction]) PERSISTED,
	[Status] [nvarchar](10) NOT NULL,
	[PaidDate] [date] NULL,
	[Note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[SalaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_salary_month] UNIQUE NONCLUSTERED 
(
	[EmployeeId] ASC,
	[SalaryMonth] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 23/03/2026 5:45:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ReorderLevel] [int] NOT NULL,
	[LastUpdated] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockLog]    Script Date: 23/03/2026 5:45:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockLog](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ChangeQty] [int] NOT NULL,
	[LogType] [nvarchar](15) NOT NULL,
	[RefId] [int] NULL,
	[Note] [nvarchar](255) NULL,
	[ActorId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 23/03/2026 5:45:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[Status] [nvarchar](10) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierProduct]    Script Date: 23/03/2026 5:45:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierProduct](
	[SupplierId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[ImportPrice] [decimal](15, 2) NOT NULL,
	[LeadTimeDays] [int] NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarrantyTicket]    Script Date: 23/03/2026 5:45:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarrantyTicket](
	[TicketId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[HandlerEmployeeId] [int] NULL,
	[IssueDesc] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](15) NOT NULL,
	[Cost] [decimal](15, 2) NOT NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_account_email]    Script Date: 23/03/2026 5:45:51 CH ******/
CREATE NONCLUSTERED INDEX [idx_account_email] ON [dbo].[Account]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_account_token]    Script Date: 23/03/2026 5:45:51 CH ******/
CREATE NONCLUSTERED INDEX [idx_account_token] ON [dbo].[Account]
(
	[ResetToken] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_address_customer]    Script Date: 23/03/2026 5:45:51 CH ******/
CREATE NONCLUSTERED INDEX [idx_address_customer] ON [dbo].[DeliveryAddress]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_employee_status]    Script Date: 23/03/2026 5:45:51 CH ******/
CREATE NONCLUSTERED INDEX [idx_employee_status] ON [dbo].[Employee]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_order_customer]    Script Date: 23/03/2026 5:45:51 CH ******/
CREATE NONCLUSTERED INDEX [idx_order_customer] ON [dbo].[Order]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_order_date]    Script Date: 23/03/2026 5:45:51 CH ******/
CREATE NONCLUSTERED INDEX [idx_order_date] ON [dbo].[Order]
(
	[OrderDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_order_employee]    Script Date: 23/03/2026 5:45:51 CH ******/
CREATE NONCLUSTERED INDEX [idx_order_employee] ON [dbo].[Order]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_order_status]    Script Date: 23/03/2026 5:45:51 CH ******/
CREATE NONCLUSTERED INDEX [idx_order_status] ON [dbo].[Order]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_orderline_order]    Script Date: 23/03/2026 5:45:51 CH ******/
CREATE NONCLUSTERED INDEX [idx_orderline_order] ON [dbo].[OrderLine]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_orderline_product]    Script Date: 23/03/2026 5:45:51 CH ******/
CREATE NONCLUSTERED INDEX [idx_orderline_product] ON [dbo].[OrderLine]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_product_status]    Script Date: 23/03/2026 5:45:51 CH ******/
CREATE NONCLUSTERED INDEX [idx_product_status] ON [dbo].[Product]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_product_supplier]    Script Date: 23/03/2026 5:45:51 CH ******/
CREATE NONCLUSTERED INDEX [idx_product_supplier] ON [dbo].[Product]
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_product_type]    Script Date: 23/03/2026 5:45:51 CH ******/
CREATE NONCLUSTERED INDEX [idx_product_type] ON [dbo].[Product]
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_salary_month]    Script Date: 23/03/2026 5:45:51 CH ******/
CREATE NONCLUSTERED INDEX [idx_salary_month] ON [dbo].[Salary]
(
	[SalaryMonth] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_stocklog_product]    Script Date: 23/03/2026 5:45:51 CH ******/
CREATE NONCLUSTERED INDEX [idx_stocklog_product] ON [dbo].[StockLog]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_stocklog_type]    Script Date: 23/03/2026 5:45:51 CH ******/
CREATE NONCLUSTERED INDEX [idx_stocklog_type] ON [dbo].[StockLog]
(
	[LogType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_warranty_order]    Script Date: 23/03/2026 5:45:51 CH ******/
CREATE NONCLUSTERED INDEX [idx_warranty_order] ON [dbo].[WarrantyTicket]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_warranty_status]    Script Date: 23/03/2026 5:45:51 CH ******/
CREATE NONCLUSTERED INDEX [idx_warranty_status] ON [dbo].[WarrantyTicket]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ('EMPLOYEE') FOR [Role]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((0)) FOR [FailedAttempts]
GO
ALTER TABLE [dbo].[Billing] ADD  DEFAULT (getdate()) FOR [IssueDate]
GO
ALTER TABLE [dbo].[Billing] ADD  DEFAULT ('UNPAID') FOR [BillingStatus]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DeliveryAddress] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[DeliveryAddress] ADD  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[DeliveryAddress] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT (getdate()) FOR [HiredAt]
GO
ALTER TABLE [dbo].[FurnitureType] ADD  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[FurnitureType] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ('DRAFT') FOR [Status]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [SubTotal]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [FinalTotal]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [WarrantyMonths]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Promotion] ADD  DEFAULT ((0)) FOR [MinOrderValue]
GO
ALTER TABLE [dbo].[Promotion] ADD  DEFAULT ((0)) FOR [UsedCount]
GO
ALTER TABLE [dbo].[Promotion] ADD  DEFAULT ('UPCOMING') FOR [Status]
GO
ALTER TABLE [dbo].[Promotion] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Salary] ADD  DEFAULT ((0)) FOR [Allowance]
GO
ALTER TABLE [dbo].[Salary] ADD  DEFAULT ((0)) FOR [Bonus]
GO
ALTER TABLE [dbo].[Salary] ADD  DEFAULT ((0)) FOR [Deduction]
GO
ALTER TABLE [dbo].[Salary] ADD  DEFAULT ('DRAFT') FOR [Status]
GO
ALTER TABLE [dbo].[Stock] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Stock] ADD  DEFAULT ((5)) FOR [ReorderLevel]
GO
ALTER TABLE [dbo].[Stock] ADD  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[StockLog] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Supplier] ADD  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[Supplier] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SupplierProduct] ADD  DEFAULT ((0)) FOR [LeadTimeDays]
GO
ALTER TABLE [dbo].[SupplierProduct] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[WarrantyTicket] ADD  DEFAULT ('CREATED') FOR [Status]
GO
ALTER TABLE [dbo].[WarrantyTicket] ADD  DEFAULT ((0)) FOR [Cost]
GO
ALTER TABLE [dbo].[WarrantyTicket] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WarrantyTicket] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD  CONSTRAINT [fk_billing_order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[Billing] CHECK CONSTRAINT [fk_billing_order]
GO
ALTER TABLE [dbo].[DeliveryAddress]  WITH CHECK ADD  CONSTRAINT [fk_addr_customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[DeliveryAddress] CHECK CONSTRAINT [fk_addr_customer]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [fk_emp_account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([AccountId])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [fk_emp_account]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [fk_order_address] FOREIGN KEY([AddressId])
REFERENCES [dbo].[DeliveryAddress] ([AddressId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [fk_order_address]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [fk_order_customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [fk_order_customer]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [fk_order_employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [fk_order_employee]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [fk_order_promo] FOREIGN KEY([PromoId])
REFERENCES [dbo].[Promotion] ([PromoId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [fk_order_promo]
GO
ALTER TABLE [dbo].[OrderLine]  WITH CHECK ADD  CONSTRAINT [fk_ol_order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[OrderLine] CHECK CONSTRAINT [fk_ol_order]
GO
ALTER TABLE [dbo].[OrderLine]  WITH CHECK ADD  CONSTRAINT [fk_ol_product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[OrderLine] CHECK CONSTRAINT [fk_ol_product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [fk_prod_supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([SupplierId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [fk_prod_supplier]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [fk_prod_type] FOREIGN KEY([TypeId])
REFERENCES [dbo].[FurnitureType] ([TypeId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [fk_prod_type]
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD  CONSTRAINT [fk_salary_emp] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[Salary] CHECK CONSTRAINT [fk_salary_emp]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [fk_stock_product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [fk_stock_product]
GO
ALTER TABLE [dbo].[StockLog]  WITH CHECK ADD  CONSTRAINT [fk_slog_actor] FOREIGN KEY([ActorId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[StockLog] CHECK CONSTRAINT [fk_slog_actor]
GO
ALTER TABLE [dbo].[StockLog]  WITH CHECK ADD  CONSTRAINT [fk_slog_product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[StockLog] CHECK CONSTRAINT [fk_slog_product]
GO
ALTER TABLE [dbo].[SupplierProduct]  WITH CHECK ADD  CONSTRAINT [fk_sp_product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[SupplierProduct] CHECK CONSTRAINT [fk_sp_product]
GO
ALTER TABLE [dbo].[SupplierProduct]  WITH CHECK ADD  CONSTRAINT [fk_sp_supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([SupplierId])
GO
ALTER TABLE [dbo].[SupplierProduct] CHECK CONSTRAINT [fk_sp_supplier]
GO
ALTER TABLE [dbo].[WarrantyTicket]  WITH CHECK ADD  CONSTRAINT [fk_wt_customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[WarrantyTicket] CHECK CONSTRAINT [fk_wt_customer]
GO
ALTER TABLE [dbo].[WarrantyTicket]  WITH CHECK ADD  CONSTRAINT [fk_wt_handler] FOREIGN KEY([HandlerEmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[WarrantyTicket] CHECK CONSTRAINT [fk_wt_handler]
GO
ALTER TABLE [dbo].[WarrantyTicket]  WITH CHECK ADD  CONSTRAINT [fk_wt_order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[WarrantyTicket] CHECK CONSTRAINT [fk_wt_order]
GO
ALTER TABLE [dbo].[WarrantyTicket]  WITH CHECK ADD  CONSTRAINT [fk_wt_product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[WarrantyTicket] CHECK CONSTRAINT [fk_wt_product]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [chk_account_email] CHECK  (([Email] IS NULL OR [Email] like '%_@_%.__%'))
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [chk_account_email]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [chk_account_role] CHECK  (([Role]='EMPLOYEE' OR [Role]='ADMIN'))
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [chk_account_role]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [chk_account_status] CHECK  (([Status]='SUSPENDED' OR [Status]='INACTIVE' OR [Status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [chk_account_status]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [chk_username_len] CHECK  ((len([Username])>=(3)))
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [chk_username_len]
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD  CONSTRAINT [chk_billing_paid] CHECK  (([PaidAmount]>=(0)))
GO
ALTER TABLE [dbo].[Billing] CHECK CONSTRAINT [chk_billing_paid]
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD  CONSTRAINT [chk_billing_paymethod] CHECK  (([PaymentMethod]='OTHER' OR [PaymentMethod]='CARD' OR [PaymentMethod]='BANK_TRANSFER' OR [PaymentMethod]='CASH'))
GO
ALTER TABLE [dbo].[Billing] CHECK CONSTRAINT [chk_billing_paymethod]
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD  CONSTRAINT [chk_billing_status] CHECK  (([BillingStatus]='VOID' OR [BillingStatus]='REFUNDED' OR [BillingStatus]='PAID' OR [BillingStatus]='PARTIAL' OR [BillingStatus]='UNPAID'))
GO
ALTER TABLE [dbo].[Billing] CHECK CONSTRAINT [chk_billing_status]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [chk_cust_email] CHECK  (([Email] IS NULL OR [Email] like '%_@_%.__%'))
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [chk_cust_email]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [chk_cust_gender] CHECK  (([Gender] IS NULL OR ([Gender]='OTHER' OR [Gender]='FEMALE' OR [Gender]='MALE')))
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [chk_cust_gender]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [chk_cust_name] CHECK  ((len([FullName])>=(2)))
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [chk_cust_name]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [chk_cust_phone] CHECK  ((NOT [Phone] like '%[^0-9]%' AND (len([Phone])>=(9) AND len([Phone])<=(11))))
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [chk_cust_phone]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [chk_cust_status] CHECK  (([Status]='INACTIVE' OR [Status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [chk_cust_status]
GO
ALTER TABLE [dbo].[DeliveryAddress]  WITH CHECK ADD  CONSTRAINT [chk_addr_phone] CHECK  ((NOT [Phone] like '%[^0-9]%' AND (len([Phone])>=(9) AND len([Phone])<=(11))))
GO
ALTER TABLE [dbo].[DeliveryAddress] CHECK CONSTRAINT [chk_addr_phone]
GO
ALTER TABLE [dbo].[DeliveryAddress]  WITH CHECK ADD  CONSTRAINT [chk_addr_status] CHECK  (([Status]='INACTIVE' OR [Status]='ACTIVE'))
GO
ALTER TABLE [dbo].[DeliveryAddress] CHECK CONSTRAINT [chk_addr_status]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [chk_emp_dob] CHECK  (([DOB] IS NULL OR [DOB]<CONVERT([date],getdate())))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [chk_emp_dob]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [chk_emp_email] CHECK  (([Email] IS NULL OR [Email] like '%_@_%.__%'))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [chk_emp_email]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [chk_emp_phone] CHECK  ((NOT [Phone] like '%[^0-9]%' AND (len([Phone])>=(9) AND len([Phone])<=(11))))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [chk_emp_phone]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [chk_emp_position] CHECK  (([Position]='TECHNICIAN' OR [Position]='ACCOUNTANT' OR [Position]='WAREHOUSE' OR [Position]='SALES' OR [Position]='MANAGER'))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [chk_emp_position]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [chk_emp_status] CHECK  (([Status]='SUSPENDED' OR [Status]='INACTIVE' OR [Status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [chk_emp_status]
GO
ALTER TABLE [dbo].[FurnitureType]  WITH CHECK ADD  CONSTRAINT [chk_type_name] CHECK  ((len([TypeName])>=(2)))
GO
ALTER TABLE [dbo].[FurnitureType] CHECK CONSTRAINT [chk_type_name]
GO
ALTER TABLE [dbo].[FurnitureType]  WITH CHECK ADD  CONSTRAINT [chk_type_status] CHECK  (([Status]='INACTIVE' OR [Status]='ACTIVE'))
GO
ALTER TABLE [dbo].[FurnitureType] CHECK CONSTRAINT [chk_type_status]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [chk_order_discount] CHECK  (([Discount]>=(0)))
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [chk_order_discount]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [chk_order_final] CHECK  (([FinalTotal]>=(0)))
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [chk_order_final]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [chk_order_status] CHECK  (([Status]='RETURNED' OR [Status]='CANCELLED' OR [Status]='COMPLETED' OR [Status]='DELIVERING' OR [Status]='PAID' OR [Status]='CONFIRMED' OR [Status]='DRAFT'))
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [chk_order_status]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [chk_order_subtotal] CHECK  (([SubTotal]>=(0)))
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [chk_order_subtotal]
GO
ALTER TABLE [dbo].[OrderLine]  WITH CHECK ADD  CONSTRAINT [chk_ol_price] CHECK  (([UnitPrice]>(0)))
GO
ALTER TABLE [dbo].[OrderLine] CHECK CONSTRAINT [chk_ol_price]
GO
ALTER TABLE [dbo].[OrderLine]  WITH CHECK ADD  CONSTRAINT [chk_ol_qty] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[OrderLine] CHECK CONSTRAINT [chk_ol_qty]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [chk_prod_name] CHECK  ((len([Name])>=(2)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [chk_prod_name]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [chk_prod_price] CHECK  (([Price]>(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [chk_prod_price]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [chk_prod_status] CHECK  (([Status]='OUT_OF_STOCK' OR [Status]='INACTIVE' OR [Status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [chk_prod_status]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [chk_prod_warranty] CHECK  (([WarrantyMonths]>=(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [chk_prod_warranty]
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [chk_promo_dates] CHECK  (([StartDate]<[EndDate]))
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [chk_promo_dates]
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [chk_promo_disctype] CHECK  (([DiscountType]='FIXED' OR [DiscountType]='PERCENT'))
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [chk_promo_disctype]
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [chk_promo_minorder] CHECK  (([MinOrderValue]>=(0)))
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [chk_promo_minorder]
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [chk_promo_percent] CHECK  (([DiscountType]<>'PERCENT' OR [DiscountValue]<=(100)))
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [chk_promo_percent]
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [chk_promo_status] CHECK  (([Status]='DISABLED' OR [Status]='EXPIRED' OR [Status]='ACTIVE' OR [Status]='UPCOMING'))
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [chk_promo_status]
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [chk_promo_usage] CHECK  (([UsageLimit] IS NULL OR [UsageLimit]>(0)))
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [chk_promo_usage]
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [chk_promo_used] CHECK  (([UsedCount]>=(0)))
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [chk_promo_used]
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [chk_promo_value] CHECK  (([DiscountValue]>(0)))
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [chk_promo_value]
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD  CONSTRAINT [chk_salary_allow] CHECK  (([Allowance]>=(0)))
GO
ALTER TABLE [dbo].[Salary] CHECK CONSTRAINT [chk_salary_allow]
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD  CONSTRAINT [chk_salary_base] CHECK  (([BaseSalary]>(0)))
GO
ALTER TABLE [dbo].[Salary] CHECK CONSTRAINT [chk_salary_base]
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD  CONSTRAINT [chk_salary_bonus] CHECK  (([Bonus]>=(0)))
GO
ALTER TABLE [dbo].[Salary] CHECK CONSTRAINT [chk_salary_bonus]
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD  CONSTRAINT [chk_salary_deduct] CHECK  (([Deduction]>=(0)))
GO
ALTER TABLE [dbo].[Salary] CHECK CONSTRAINT [chk_salary_deduct]
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD  CONSTRAINT [chk_salary_status] CHECK  (([Status]='PAID' OR [Status]='CONFIRMED' OR [Status]='DRAFT'))
GO
ALTER TABLE [dbo].[Salary] CHECK CONSTRAINT [chk_salary_status]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [chk_stock_qty] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [chk_stock_qty]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [chk_stock_reorder] CHECK  (([ReorderLevel]>=(0)))
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [chk_stock_reorder]
GO
ALTER TABLE [dbo].[StockLog]  WITH CHECK ADD  CONSTRAINT [chk_slog_logtype] CHECK  (([LogType]='WARRANTY_IN' OR [LogType]='WARRANTY_OUT' OR [LogType]='RETURN' OR [LogType]='CANCEL' OR [LogType]='ADJUST' OR [LogType]='OUT' OR [LogType]='IN'))
GO
ALTER TABLE [dbo].[StockLog] CHECK CONSTRAINT [chk_slog_logtype]
GO
ALTER TABLE [dbo].[StockLog]  WITH CHECK ADD  CONSTRAINT [chk_slog_qty] CHECK  (([ChangeQty]<>(0)))
GO
ALTER TABLE [dbo].[StockLog] CHECK CONSTRAINT [chk_slog_qty]
GO
ALTER TABLE [dbo].[Supplier]  WITH CHECK ADD  CONSTRAINT [chk_sup_email] CHECK  (([Email] IS NULL OR [Email] like '%_@_%.__%'))
GO
ALTER TABLE [dbo].[Supplier] CHECK CONSTRAINT [chk_sup_email]
GO
ALTER TABLE [dbo].[Supplier]  WITH CHECK ADD  CONSTRAINT [chk_sup_name] CHECK  ((len([Name])>=(2)))
GO
ALTER TABLE [dbo].[Supplier] CHECK CONSTRAINT [chk_sup_name]
GO
ALTER TABLE [dbo].[Supplier]  WITH CHECK ADD  CONSTRAINT [chk_sup_phone] CHECK  ((NOT [Phone] like '%[^0-9]%' AND (len([Phone])>=(9) AND len([Phone])<=(11))))
GO
ALTER TABLE [dbo].[Supplier] CHECK CONSTRAINT [chk_sup_phone]
GO
ALTER TABLE [dbo].[Supplier]  WITH CHECK ADD  CONSTRAINT [chk_sup_status] CHECK  (([Status]='INACTIVE' OR [Status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Supplier] CHECK CONSTRAINT [chk_sup_status]
GO
ALTER TABLE [dbo].[SupplierProduct]  WITH CHECK ADD  CONSTRAINT [chk_sp_import] CHECK  (([ImportPrice]>(0)))
GO
ALTER TABLE [dbo].[SupplierProduct] CHECK CONSTRAINT [chk_sp_import]
GO
ALTER TABLE [dbo].[SupplierProduct]  WITH CHECK ADD  CONSTRAINT [chk_sp_leadtime] CHECK  (([LeadTimeDays]>=(0)))
GO
ALTER TABLE [dbo].[SupplierProduct] CHECK CONSTRAINT [chk_sp_leadtime]
GO
ALTER TABLE [dbo].[WarrantyTicket]  WITH CHECK ADD  CONSTRAINT [chk_wt_cost] CHECK  (([Cost]>=(0)))
GO
ALTER TABLE [dbo].[WarrantyTicket] CHECK CONSTRAINT [chk_wt_cost]
GO
ALTER TABLE [dbo].[WarrantyTicket]  WITH CHECK ADD  CONSTRAINT [chk_wt_status] CHECK  (([Status]='CANCELLED' OR [Status]='REJECTED' OR [Status]='COMPLETED' OR [Status]='WAITING_PART' OR [Status]='PROCESSING' OR [Status]='RECEIVED' OR [Status]='CREATED'))
GO
ALTER TABLE [dbo].[WarrantyTicket] CHECK CONSTRAINT [chk_wt_status]
GO

-- =============================================
-- Seed data: default accounts for testing
-- Password for both accounts: 123456
-- Hash algorithm: SHA-256 lowercase hex
-- =============================================
USE [furniture_system]
GO

INSERT INTO [dbo].[Account] ([Username], [PasswordHash], [Role], [Status], [Email], [FailedAttempts])
VALUES
    (N'Admin',    N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'ADMIN',    N'ACTIVE', NULL, 0),
    (N'Employee', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'EMPLOYEE', N'ACTIVE', NULL, 0);
GO

USE [master]
GO
